{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends" : "eslint:recommended",
  "rules" : { 
    "no-unused-vars": "off"
  },
  "globals": {
    "google": "readonly",
    "ko": "readonly",
    "console": "readonly",
    "G_Model": "writable"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}