//First theme idea
$theme1-c1:#042A2B;
$theme1-c2:#087E8B;
$theme1-c3:#CDEDF6;
$theme1-c4:#BFD7EA;
$theme1-c5:#FF5A5F;

//Second theme idea
$theme2-c1:#55D6BE;
$theme2-c2:#ACFCD9;
$theme2-c3:#1D1E18;
$theme2-c4:#DDD;
$theme2-c5:#F06543;

$activeT-c1: $theme1-c1;
$activeT-c2: $theme1-c2;
$activeT-c3: $theme1-c3;
$activeT-c4: $theme1-c4;
$activeT-c5: $theme1-c5;

$interface-bg: rgba(19, 172, 189, 0.8);

$menu-border: 1px solid $activeT-c4;
$menu-bg: $activeT-c1;

$submenu-border: $menu-border;
$submenu-bgColor: #446364;

$button-border: 1px solid $activeT-c2;
$button-color-pos: #55d66a;
$button-color-neg: $activeT-c5;