// ============
//
//     FYN
//   Specific
//    Styles
//
//  ===========
.logo-Wrapper {
	max-width:150px;
	position: fixed;
	top: 5px;
	right: 5px;

	.logo {
		width: 100%;
		max-width:150px;
	}
}
