@keyframes viewScrollMobile {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); } 
}

@keyframes viewHScroll {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); } 
}

h1,h2,h3,h4,h5,p {
    color:$white;
}

h1 { font-size:2em; }
h2 { font-size: 1.5em; }

#interface {
    height: 65px;
    overflow: visible;
    background-color: $interface-bg;
    padding: 0;
    display: flex;
    flex-direction: column;

    &.right {
        order:3;
    }

    #iView {
        width: 100%;
        position: absolute;
        background: $interface-bg;
        bottom: 100%;
        display: flex;
        z-index:0;
        flex-direction: column;
        overflow: hidden;
        transform: translateY(100%);

        &.active{
            height: auto;
            animation-duration: 0.4s;
            animation-timing-function: ease-out;
            animation-name: viewScrollMobile;
            transform: translateY(0);
        }

        .title {
            margin-top: 5px;
        }

        .submenu {
            background-color: $submenu-bgColor;
            order:2;
            display: flex;
            height: 42.2px;

            .submenu-item {
                border-right: $submenu-border;
                border-top: $submenu-border;
                cursor: pointer;
                width: 50%;
                padding: 13px 10px;

                &:last-child {
                    border-right: none;
                }

                &.active {}

                h3 {
                    text-align: center;
                    font-size: 0.8em;
                    margin: 0;
                }
            }


        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5px;

            input {
                width: 100%;
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 5px;
                border: none;
            }
        }

        button {
            padding: 5px 15px;
            border: $button-border;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
        }

        .find { background: $button-color-pos; }

        .clear { background: $button-color-neg; }

        .iWrap {
            padding: 10px;

            .Results {
                max-height: 180px;
                overflow-y: scroll;
            }

            .searchItem {
                display: flex;
                padding: 7px;

                .image {
                    margin-top: 3px;
                    width: 20px;
                }

                .search-details {
                    flex-grow: 1;

                    h4 {
                        font-size: 1.3em;
                        margin: 0;
                    }

                    .address {
                        font-size: 0.9em;
                    }
                }

                button {
                    font-size: 0.7em;
                    float: right;

                    &.save {
                        background: $button-color-pos;
    
                        &::before {
                            content: 'SAVE'
                        }
                    }

                    &.remove {
                        background: $button-color-neg;
    
                        &::before {
                            content: 'DELETE'
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:992px){
    #interface {
        max-width:400px;
        height:auto;

        #iView {
            position: static;
            background-color: transparent;

            &.active {

                &.Homes {
                    animation-name: viewHScroll; 
                }
            }

            .submenu {
                order: 0;

                .submenu-item {
                    border-top: none;
                    border-bottom: $submenu-border;
                }
            }

            .iWrap {
    
                .Results {
                    max-height: 400px;
                    overflow-y: scroll;
                }
            }
        }
    }
}