

h1,h2,h3,h4,h5,p {
  color:$white;
}

h1 { font-size:2em; }
h2 { font-size: 1.5em; }

#interface {
  height: 60px;
  overflow: visible;
  background-color: $activeT-c1;
  padding: 0;
  display: flex;
  flex-direction: column;

  &.right {
    order:3;
  }

  #interfaceView {
    height: 0;
    position: absolute;
    bottom: 100%;

    &.active{
      height: auto;
      overflow-y: scroll;
      transition: height 0.2s ease-out;
    }
  }
}

#interfaceView {
  padding: 15px;
}

@media screen and (min-width:992px){
  #interface {
    max-width:400px;
    height:auto;

    #interfaceView {
      position: static;
    }
  }
}