

#interface {
  height: 50px;
  overflow:hidden;
  background-color: $activeT-c1;
  padding: 15px;

  h1,h2,h3,h4,h5,p {
    color:$white;
  }
}

/*================
   FYN - Menu
         Styles
=================*/


@media screen and (min-width:992px){
  #interface {
    max-width:400px;
    height:auto;
  }
}